<h1>Employee 데이터 삽입</h1>
<form name="employee" method="post" action="/">
    <div>
        <label for="id">Id</label>
        <input id="id" name="id" type="text" required placeholder="Id" />
    </div>
    <div>
        <label for="name">Name</label>
        <input id="name" name="name" type="text" required placeholder="Name" />
    </div>
    <div>
        <label for="position">Position</label>
        <input id="position" name="position" type="text" placeholder="Position" />
    </div>
    <div>
        <label for="departmentid">Department_Id</label>
        <input id="departmentid" name="departmentid" type="text" required placeholder="Department_Id" />
    </div>
    <div>
        <input type="submit" value="삽입" />
    </div>
</form>
