<h1>Employee 데이터 삽입</h1>

<form name="employee" method="post" action="/">
    <div>
        <label for="fname">Fname</label>
        <input id="fname" name="fname" type="text"  required placeholder="Fname" />
    </div>
    <div>
        <label for="minit">Minit</label>
        <input id="minit" name="minit" type="text" placeholder="Minit" />
    </div>
    <div>
        <label for="lname">Lname</label>
        <input id="lname" name="lname" type="text" required placeholder="Lname" />
    </div>
    <div>
        <label for="ssn">Ssn</label>
        <input id="ssn" name="ssn" type="text" placeholder="Ssn" />
    </div>
    <div>
        <label for="bdate">Bdate</label>
        <input id="bdate" name="bdate" type="text"  placeholder="Bdate" />
    </div>
    <div>
        <label for="address">Address</label>
        <input id="address" name="address" type="text"  placeholder="Address" />
    </div>
    <div>
        <label for="sex">Sex</label>
        <input id="sex" name="sex" type="text"  placeholder="Sex" />
    </div>
    <div>
        <label for="salary">Salary</label>
        <input id="salary" name="salary" type="text"  placeholder="Salary" />
    </div>
    <div>
        <label for="superssn">SuperSsn</label>
        <input id="superssn" name="superssn" type="text"  placeholder="SuperSsn" />
    </div>
    <div>
        <label for="dno">Dno</label>
        <input id="dno" name="dno" type="text"  placeholder="Dno" />
    </div>
    <div>
        <input type="submit" value="삽입" />
    </div>
</form>

<br><br>

<h1>Department 데이터 삽입</h1>
<form id="department" method="post" action="/">
    <div>
        <label for="dname">Dname</label>
        <input id="dname" name="dname" type="text"  placeholder="Dname" />
    </div>
    <div>
        <label for="dnumber">Dnumber</label>
        <input id="dnumber" name="dnumber" type="text"  placeholder="Dnumber" />
    </div>
    <div>
        <label for="mgrssn">MgrSsn</label>
        <input id="mgrssn" name="mgrssn" type="text"  placeholder="MgrSsn" />
    </div>
    <div>
        <label for="mgrstartdate">MgrStartDate</label>
        <input id="mgrstartdate" name="mgrstartdate" type="text"  placeholder="MgrStartDate" />
    </div>
    <div>
        <input type="submit" value="삽입" />
    </div>
</form>