<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    {{!-- <link rel="stylesheet" href="css/layout.css" /> --}}
    <style type="text/css">
        table {
                border-collapse: collapse;
            }

        th, td {
            border: 1px solid black;
            width: 100px;
            height: 20px;
        }
    </style>
</head>
<body>
    {{{body}}}
</body>
</html>