body {
  height: 100vh;
  display: flex;
  padding: 0px; /* element 안 여유공간을 조정 */
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;  
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  align-items: end;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-info {
  margin-left: 102px;
  height: 44px;
  border: 2px solid blue;
  padding: 2px 8px;
  display: flex;
  align-items: center;
}

.header-info_title {
  font-size: 22px;
}

.header-info_title_strong {
  color: rgb(0, 0, 255);
}

img {
  max-width: 112px;
}

.logo-text {
  font-size: 24px;
  color: #0770bb;
  margin-left: 4px;
  margin-bottom: 5px;
}

.side {
  display: flex;
  flex-direction: column;
  min-width: 250px;
}

.side-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginform-input {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  padding: 8px;
  flex-direction: row;
  background-color: #f5f5f5;
}

.label-text {
  display: inline-block;
  font-size: 13px;
  width: 60px;
  line-height: 18px;
}

.loginform-input_forget {
  font-size: 13px;
}

input {
  width: 86px;
  height: 24px;
}

.loginform-btnDiv {
  margin-left: 8px;
}

.loginform-btnDiv_btn {
  width: 65px;
  height: 52px;
  background-color: #690;
  font-size: 13px;
  border: none;
}

.side-menu_list {
  margin-top: 8px;
  border-bottom: #e5e5e5 solid 1px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}

.side-menu_list:hover {
  background-color: blue;
  color: white;
}

.main {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-top_table {
  margin-top: 8px;
}

.main-top_title {
  color: #666;
}

table {
  display: table;
  width: 100%;
}
tr,
td {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #97bbda solid 1px !important;
  height: 30px;
}

.main-top_table_head_first {
  width: 40%;
  color: white;
}

.main-top_table_head_second {
  width: 60%;
  color: white;
}

.main-top_table_body_first {
  font-size: 13px;
  padding-left: 4px;
  width: 40%;
  color: #666;
  display: flex;
  justify-content: start;
}

.main-top_table_body_second {
  font-size: 13px;
  padding-left: 4px;
  width: 60%;
  color: #666;
  display: flex;
  justify-content: start;
}

.main-bottom {
  margin-top: 16px;
}

.main-bottom_title {
  color: #127c97;
  font-size: 20px;
  display: flex;
  margin-bottom: 20px;
}

.main-bottom_table_head_first {
  width: 15%;
  color: white;
}

.main-bottom_table_head_second {
  width: 15%;
  color: white;
}

.main-bottom_table_head_third {
  width: 40%;
  color: white;
}

.main-bottom_table_head_fourth {
  width: 15%;
  color: white;
}

.main-bottom_table_head_fifth {
  width: 15%;
  color: white;
}

.main-bottom_table_body_first,
.main-bottom_table_body_second,
.main-bottom_table_body_fourth,
.main-bottom_table_body_fifth {
  font-size: 13px;
  padding-left: 4px;
  width: 15%;
  color: #666;
  display: flex;
  justify-content: center;
}

.main-bottom_table_body_third {
  font-size: 13px;
  padding-left: 4px;
  width: 40%;
  color: #666;
  display: flex;
  justify-content: start;
}
