<!--
 Copyright 2022 kms
 
 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at
 
     http://www.apache.org/licenses/LICENSE-2.0
 
 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<head>
  <link rel="stylesheet" type="text/css" href="main.css" />
  <link
    href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet"
  />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <script>
    const logout = () => {window.location.href="http://localhost:3000/logout"};
    const move = () => {window.location.href="http://localhost:3000/sugang"};
  </script>
</head>
<div class="header">
  <div class="header-logo">
    <div class="logo"><img
        src="./img/inhaLogo.png"
        alt="INHA UNIVERSITY"
      /></div>
    <span class="logo-text"><a href="/sugang">수강신청  </a></span>
  </div>

  <div class="header-info">
    <span class="header-info_title">2021 교육과정 개편 관련 경과조치 안내 (<span
        class="header-info_title_strong"
      >2020 이전 학번 필수 참조</span>) -> 자세히보기</span>
  </div>
</div>

<div class="content">
  <div class="side">
    <div class="side-frame">
      <div class="side-frame_id">
        <div class="userinfo">{{ user_name }}</div>
        <button class="logout" onclick="logout()">Logout</button>
      </div>
    </div>
    <div class="side-menu">
      <div class="side-menu_list">
        <span>수강안내</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>강의진단</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list" onclick="move()">
        <span><a href="/sugang">수강신청</a></span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>성적확인</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>계절학기</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>교과조회</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>참고 Link</span>
        <span class="material-icons">add</span>
      </div>
      <div class="side-menu_list">
        <span>개인정보처리방침</span>
        <span class="material-icons">add</span>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="main-top">
      <span class="main-top_title">2022학년 2학기 주요 수강신청 일정</span>
      <div class="main-top_table">
        <table>
          <tr style="background-color: #0770bb;">
            <td class="main-top_table_head_first">일자</td>
            <td class="main-top_table_head_second">내용</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 7. 22(금) 10:00 ~ 7.
              26(화) 16:00</td>
            <td class="main-top_table_body_second">우선수강신청일</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 8. 10(수) 10:00 ~ 16:00</td>
            <td class="main-top_table_body_second">전공, 교필수강신청 (공과 및
              소프트웨어융합대학 수강가능, 재수강 불가, 학년별 인원제한)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 8. 11(목) 10:00 ~ 16:00</td>
            <td class="main-top_table_body_second">전공, 교필수강신청 (공과 및
              소프트웨어융합대학을 제외한 단과대학 수강가능, 제한사항 위와 동일)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 8. 17(수) 10:00 ~ 13:00</td>
            <td class="main-top_table_body_second">일반 수강신청 (재수강 불가,
              수강인원 학년별 제한)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 8. 17(수) 14:00 ~ 16:00</td>
            <td class="main-top_table_body_second">일반 수강신청 (재수강 가능,
              수강인원 학년별 제한없음)</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 8. 29(월)</td>
            <td class="main-top_table_body_second">2022-2학기 개강</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 9. 2(금) 08:30 ~ 19:00</td>
            <td class="main-top_table_body_second">수강신청 변경일</td>
          </tr>
          <tr>
            <td class="main-top_table_body_first">2022. 9. 26(월) 09:00 ~ 9.
              28(수) 24:00</td>
            <td class="main-top_table_body_second">수강신청과목 포기 기간</td>
          </tr>
        </table>
      </div>
    </div>
    <div class="main-bottom">
      <span class="main-bottom_title">수강신청 관련 안내문</span>
      <div class="main-bottom_table">
        <table>
          <tr style="background-color: #0770bb;">
            <td class="main-bottom_table_head_first">번호</td>
            <td class="main-bottom_table_head_second">첨부</td>
            <td class="main-bottom_table_head_third">제목</td>
            <td class="main-bottom_table_head_fourth">등록일</td>
            <td class="main-bottom_table_head_fifth">글쓴이</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3150</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[학부] 수강신청 시 팝업 허용 안내</td>
            <td class="main-bottom_table_body_fourth">2020-01-20</td>
            <td class="main-bottom_table_body_fifth">관리자</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3061</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[학부] 교수 자녀간 강의수강 제한 안내</td>
            <td class="main-bottom_table_body_fourth">2019-07-22</td>
            <td class="main-bottom_table_body_fifth">관리자</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">2926</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">수강신청 3학점 추가 조건 변경 안내(2018-1학기 수강신청부터 적용)</td>
            <td class="main-bottom_table_body_fourth">2018-07-25</td>
            <td class="main-bottom_table_body_fifth">관리자</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3318</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[학부생 대상] 2021년도 법정의무교육(온라인 교육) 실시 안내</td>
            <td class="main-bottom_table_body_fourth">2021-01-13</td>
            <td class="main-bottom_table_body_fifth">성평등상담실</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3023</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">공과대학 및 자연과학대학 신입생 수강학점 (21학점) 안내 (2019학년도 신입생 부터 적용)</td>
            <td class="main-bottom_table_body_fourth">2019-02-19</td>
            <td class="main-bottom_table_body_fifth">관리자</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3586</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[프런티어학부대학] 2021학년도 교양교과과정 개편에 따른 경과조치 안내 (기초교양/핵심교양)</td>
            <td class="main-bottom_table_body_fourth">2022-07-26</td>
            <td class="main-bottom_table_body_fifth">프런티어학부대학행정</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3616</td>
            <td class="main-bottom_table_body_second"><span class="material-symbols-outlined">
description
</span></td>
            <td class="main-bottom_table_body_third">[학부] 2022학년도 2학기 2차 폐강 교과목 안내</td>
            <td class="main-bottom_table_body_fourth">2022-09-05</td>
            <td class="main-bottom_table_body_fifth">관리자</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3615</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[미래자동차사업단] 객체지향프로그래밍(FVE3010-001) 강의실 변경 안내</td>
            <td class="main-bottom_table_body_fourth">2022-08-31</td>
            <td class="main-bottom_table_body_fifth">미래자동차사업단</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3614</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[경영학과] BUS3204-005 인적자원관리 시간표 변경 안내</td>
            <td class="main-bottom_table_body_fourth">2022-08-26</td>
            <td class="main-bottom_table_body_fifth">경영학과</td>
          </tr>
          <tr>
            <td class="main-bottom_table_body_first">3613</td>
            <td class="main-bottom_table_body_second"></td>
            <td class="main-bottom_table_body_third">[영어교육과] 2022학년도 2학기 강의실 변경 안내</td>
            <td class="main-bottom_table_body_fourth">2022-08-26</td>
            <td class="main-bottom_table_body_fifth">영어교육과</td>
          </tr>
    </div>
  </div>
</div>